# Browsers that we support
# Для разных стран можно гибко настроить и в итоге для пользователей будет небольшой профит
# babel не будет добавлять код для IE 11 и bundle станет немного меньше весить
defaults
not IE 11