.ArticleViewSelector {
  .notSelected {
    fill: var(--secondary-color);
  }
}

.btn {
  margin-right: 6px;
}

.ArticleViewSelectorRedesigned {
  .notSelected {
    color: var(--light-bg-redesigned);
  }
}